<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
  <title>mockapp for protractor testing</title>
</head>
<body>

  <div ng-app="myApp"  class="my-app" ng-controller="MainController">tinyapp

  <div id="appWrapper">
    <div class="simpleRepeater" ng-repeat="org in organizations">
      {{org}}, {{organizations[org]}}
    </div>
    <div id="organizations" ng-repeat="(key, org) in orgs">
      <pre>{{org}}</pre>
      <h3>{{org.name}}</h3>
      {{org.stacks_published}} / <span ng-if="org.max_publish<999999">{{org.max_publish}}</span><span ng-if="org.max_publish>=999999">Unlimited</span> stacks published
    </div>
    <button
      id="importantbutton"
      ng-click="changeText(clicked)"
      style="width:100px; height:70px; margin:20px; padding:10px">
      {{sometext}}
    </button>

  </div>
  <script type="text/javascript" src="app.js"></script>
 <script type="text/javascript">
  orgs
  // window.nbSettings = {
  //   orgs: {{{orgs}}}
  // }
 </script>
  </body>
</html>